.index-card-item-view {
  display: inline-block;
  width: 45%;
  margin: 0.45rem;
}

.index-card-item {
  background: greenyellow;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
